{# Bar Chart Template #}
<script>
function renderBarChart(chartDom, data) {
    const option = {
        title: {
            text: '{{ title if title else "Bar Chart" }}',
            left: 'center',
            textStyle: {
                fontSize: 24,
                fontWeight: 'bold'
            }
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        xAxis: {
            type: 'category',
            data: data.xAxis,
            axisLabel: {
                fontSize: 14
            }
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                fontSize: 14
            }
        },
        series: [{
            data: data.series,
            type: 'bar',
            itemStyle: {
                borderRadius: [4, 4, 0, 0],
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                    { offset: 0, color: '#83bff6' },
                    { offset: 0.5, color: '#188df0' },
                    { offset: 1, color: '#188df0' }
                ])
            },
            emphasis: {
                focus: 'series'
            },
            animationDuration: 2000,
            animationEasing: 'easeInOutQuart'
        }]
    };

    chartDom.setOption(option, true);
}
</script>